.teamA{
    float: left;
    height: 100px;
    width: 40%;
    padding: 10px;
}





.teamAtime{
    width: 100%;
    height: 200px;
}





.teamB{
    float: right;
    width: 40%;
    padding: 10px;
  
}



.teamBtime{
    width: 100%;
    height: 200px;
}


.TeamsName{
    position: relative;
    margin-top: 20px;
    border: 1px solid black;
    background: #212129;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
}


.teamHomeName{
   float: left;
   margin: 10px;
   left: auto;
   margin-left: 30px;
   color : white;
    text-transform: uppercase;
    font-weight: 500;
}

.clear{
    clear: both;
}

.versus{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    top: 12px;
    opacity: .5;  
    color: white;
    text-transform: uppercase;
}




.oppositeTeam{
    justify-content: flex-end;
    margin-right: 30px;
    right: auto;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
}


.hour{
    text-align: center;
    left: 30%;
    
}


.hourText{
    color : black;
    text-transform: uppercase;
    font-weight: 500;
    
}



.laranja{
    color : orange;
    font-weight: 500;
}






