.divone{
display: flex;
 flex-direction: column;
 justify-content: flex-start;
 width: 50%;
 height: auto;
 float: left;
 margin-left : 20px
}


.divtwo{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    justify-content: flex-end;
    margin-right: 25px;
    padding-left: 50px;
}





