p{
    color : orange
}



.itemlist{
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 25%;
    background: #1a1c20;
    box-shadow: inset 0 1px 1px rgba(255,255,255);
    border: 1px solid #000;
    margin: 0% 1% 3% 1%;
    margin-left: 20px;
}


.a{
    display: block;
    padding: 15px 10px;
    text-align: center;
    color: white;
    font-size: 22px;
}


.aFacebook:hover{
    background-color: #39599f;
    transition: 0.4s ease;
}



.aInstagram:hover{
    background: linear-gradient(#515BD4, #8134AF,#DD2A7B,#FEDA77,#F58539 );
}



.aTwitch:hover{
    background: #6441A5;
    transition: 0.4s ease;
}










.aTwitter:hover{
    background-color: #3cf;
    transition: 0.4s ease;
}


.aDiscord:hover{
    background: #7289DA;
    transition: 0.4s ease;
}



.aYoutube:hover{
    background: #C4302B;
    transition: 0.4s ease;
}
