.img{
    width:100%;
    height : 20%;
    text-align:center;
    background-color : rgb(96,96,96)
}




.imagenzinha{
    position: relative;
    display: block;
    margin: 0 auto;
    width : 70px;
    height: 60px;
    float: right;
    align-items: center;
    border-radius: 15%;
    overflow: hidden;
    border:1px solid orange;
    transition: box-shadow 0.3s ease;
}


.imagenzinha:hover{
    cursor: pointer;
    box-shadow: 0px -1px 41px 1px rgba(255,181,69,1);
}


.logo{
    display: inline-block;
    margin: 0 auto;
}


.botao {
   float: right; 
   background-color : black;
   height : 35px;
   width: 110px;
   color : white;
   text-transform: uppercase;
}

.lock{
    float: left;
} 


.pencil{
    float: left;
}




.botaozin:hover{
    background-color: orange;
    color: white;
}


.botaozinbutton{
    transition: 0.3s ease;
}



