






.lista{
    width: 1200px;
    margin: 0;
}

li{
    background: #212528;
    color: #888;
    font-size: 90%;
    border-radius: 0;
    list-style: none;
}

.timeParaListar{
    background: none;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}


.fimg{
    float: left;
    width: 40px;
    height: 40px;
    border: 2px solid orange;
}

.bc{
  color : orange   
}
