.dropdownContent{
 display: none;
 position: absolute;
 background-color: white;
 width: 150px;
 z-index: 1;
}

.dropdown{
   position: relative;
   display: inline-block;
}

.dropdownBtn{
  background-color: orange;
  padding: 15px;
  border: none;
  font-size: 15px;
}

.dropdownContent button{
  background: orange;
  margin: 1px;
  padding: 12px;
  width: 100%;
}

.dropdownContent button:hover{
  opacity: .2;
}

.dropdown:hover .dropdownContent{
  display: block;
  transition: 0.3s ease;
}


//CSS do vídeo
